<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>node 연습</title>
</head>

<body>
  <h1>회원 목록</h1>
  <ul>
    <br>
    <% for(let i = 0; i < userCounts; i++) {%>
    <li>id : <%=USER[i].id %></li>
    <li>password : <%=USER[i].password %></li>

    <hr>
    <% } %>
  </ul>

</body>

</html>